@import "css/reset.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

/*algemene css -------------*/
body{
	color:#5B5B5B;
	font-family: 'roboto', sans-serif!important;
}

h1, h2, h3{
	color:#730000;
}
/*Quote display ------------*/
html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    min-height: 300px;
    background-color: white;
    border-radius: 5px;
  }
  
  .quotes {
    padding: 20px 50px;
  }
  
  .quote-text {
    padding-bottom: 20px;
    font-size: 25px;
  }
  
  .controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .tweet {
    background-color: #1da1f2;
    text-decoration: none;
  }
  
  .new-quote {
    background-color: #4A2B0F;
  }

  .container{
	margin:0 auto;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }



/*CSS ----------------*/

#bestuursbody{
	min-height: 1400px;
}

header{
	height: 70px;
	background: #FFFFFF;
	position: relative;
	z-index: 999999999999;
}

header .logo{
	width: 70px;
	margin-left: 20px;
	display:flex;
}

header .logo img{
	height: 50px;
	width: 70px;
	max-width: unset;
}

.outer{
	padding-top: 10px;
}
.inner{
	display: flex;
}

.nav{
	width: 100%;
	position: absolute;
	right: 0;
}

.navbar-default .navbar-nav{
	margin: 0;
	background: rgb(100, 100, 100);
}

.navigation{
	display: none;
}

.navbar-header{
	padding-bottom: 20px;
	display: flex;
}


.navbar-header .logo{
	flex:1;
}

.navbar-sm{
	display: flex;
}

.navbar-sm .img-responsive{
	display: none;;
}

.nav li a{
	color:#FFFFFF!important;
	transition: 0.4s;
}

.nav li a:hover{
	color:#730000!important;
	background: none;
}

.nav .active a{
	background: none!important;
	color:#730000!important;
	font-weight: bold;
}

.navbar-default{
	background: none;
	border:  none;
}

.container-full{
	width: 100%;
}

.hero-image{
	display: block;
	margin-top: 20px;
	min-height: 500px;
}

.hero-image::after {
	content: "";
	background: url(../images/groep.jpg) no-repeat bottom center;
	background-size: cover;
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
  }

#content{
	margin: 20%;
}

.hero-image .content h2{
	text-align: center;
	font-style: italic;
	font-size: 20px;
}

.hero-image .container{
	position: absolute;
    width: 100%;
    top: 47%;
}

.content h2 span{
	font-weight: bold;
	font-style: normal;
}

.latestnews{
	background: #F0F0F0;
	padding-bottom: 25px;
}

h3 a {
color:#730000;
text-decoration:none;
    }

h3{
	margin-top: 0;
}
.redlink{
color:#730000;
text-decoration:none;
    }
    .redlink:hover{
color:#730000;
text-decoration:none;
    }

.large-affice img{
	max-width: 100%;
	margin-bottom: 20px;
}

.latestshows{
	background: #FFFFFF;
}

.show .latestshowinfo img{
	max-width: 100%!important;
	height: unset!important;
}

.info{
	color:#730000;
	margin-bottom: 25px;
}

.info p{
	margin-bottom: 0;
}

.info span{
	font-weight: bold;
}

.info ul li span{
	font-weight: normal;
	color:#5B5B5B;
}

.info ul li{
	font-weight: lighter;
	color:#5b5b5b;
	list-style:none;
}

.show-tiles img{
	width:100%;
	margin-bottom: 25px;
	-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
    opacity: .8;
}

.show-tiles img:hover{
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
	-webkit-transition: opacity .3s ease-in-out;
    -moz-transition: opacity .3s ease-in-out;
    -ms-transition: opacity .3s ease-in-out;
    -o-transition: opacity .3s ease-in-out;
    transition: opacity .3s ease-in-out;
	opacity:1.0;
}

.links{
	background: #F0F0F0;
	padding-bottom: 25px;
}

.link{
    min-height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link a{
	text-align: center;
	opacity: .8;
	-webkit-transition: opacity .4s ease,filter .4s ease;
    -o-transition: opacity .4s ease,filter .4s ease;
    transition: opacity .4s ease,filter .4s ease;
}

.link a:hover{
	opacity: 1;
}

.links img{
	width: 75%;
}

.bestuur p img{
	height: 300px;
	width:unset;
}

.geschiedenis{
	margin-bottom: 50px;
}

.geschiedenis img{
	width:100%;
	margin-bottom:50px;
}

.geschiedenis-image img{
	margin-bottom: 50px;
}

.bestuur .col-xs-12 p:first-of-type {
	margin-top:25px;
}

.bestuur strong {
	color:#730000;
}

.nuttigelinken .col-xs-12{
	margin-bottom: 25px;
}

.invert{
	filter: invert(100%);
}

iframe{
	width: 100%;
	height: 350px;
	margin-bottom:50px;
}

.contact{
	margin-bottom: 50px;
}

#customers {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 50px;
}
  
#customers td, #customers th {
	border: 1px solid #ddd;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #730000;
	color: white;
	text-align: center;
}

#customers tr td:nth-of-type(2) {
	text-align: center;
}

#customers a {
	display: block;
	color:#5b5b5b;
	padding: 8px;
}

#customers a:hover {
	text-decoration: none;
}

.back a{
	color:#730000;
}

.back a:hover{
	text-decoration: none;
}

.fotos{
	color:#5b5b5b;
}
  
.fotos a{
	color:#5b5b5b;
	text-decoration: underline;
}

footer{
	background: #730000;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
    position: absolute;
    left: 0;
    right: 0;

}

footer div{
	margin: 20px;
}

footer .upper{
	margin-top: 0px;
}

footer .lower{
	margin-bottom: 0px;
}

footer img{
	width: 20px;
	display:inline;
}

footer p{
	display: inline;
}

footer a{
	color:#FFFFFF;
	transition: 0.4s;
}

footer a:hover{
	color:#AAAAAA;
	text-decoration: none;
}

@media screen and (min-width: 767px){

	header{
		height: 100px;
		background: #FFF;
		width: 100%;
	}

	.outer{
		padding-top: 20px;
	}

	.navbar-default{
		display: none;
	}

	.navbar-sm .img-responsive{
		display: block;
	}

	.nav{
		display: block;
		float: right;
		position: relative;
	}

	.nav li a{
		color:#666666!important;
		transition: 0.4s;
	}

	.navigation{
		background: none;
		display: flex;
		text-align: right;
	}

	.navigation li{
		display: inline-block;
		flex: 1;
		text-align: center;
	}

	.latestshowinfo{
		margin-bottom: 50px;
	}

	.show .large-affice img{
		max-width: 100%!important;
		height: unset!important;
	}

	.geschiedenis{
		display: flex;
		align-items: center;
	}

	.geschiedenis-image img{
		max-height: 500px;
		padding:20px;
		max-width: 100%;
	}

	.bestuur img{
		width: 100%;
	}

	.nuttigelinken{
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom:50px;
	}

	.nuttigelinken div a{
		width:100%;
	}
	
	.nuttigelinken div a img{
		width:100%;
	}

	.info ul{
		display:flex;
	}

	.info ul li{
		flex:1;
		list-style: none;
	}

	iframe{
		width: 100%;
		height: 350px;
	}

	.upper a img, .middle a img{
		display: inline;
	}
	.bestuursfooter{
		position: absolute;
		left: 0;
		right: 0;
		top:1650px;
	}
    .redlink{
color:#730000;
text-decoration:none;
    }
    .redlink:hover{
color:#730000;
text-decoration:none;
    }
}